:root {
  --borderRadius : 1rem;
  --gap : 2rem;
  --shadow : rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --opacity : 0.9;
  --fontColor: #f9f9f9;
  --font : 'Satisfy', cursive;
  --fontSize : 2.5rem;
}

